/*****
Body
*****/

@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@1,800&display=swap');
body {
  background-image: url("");
  margin: 0;
}

/**********
Navigation
***********/

.grid-container{
  display: grid;
  grid-template-columns: 1fr, 1,2fr, 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  grid-template-areas: 
  "header header header"
  "main truc truc"
  "machin truc truc"
  "machin bidule bidule"
  "machin bidule bidule";
  height: 100vh;
}

header {
  grid-area: header;
  background      : rgb(0, 0, 0);
  color           : cornsilk;
  height: 27px;
}

header > h2{
  margin-top: -2px;
}

main{
  grid-area: main; 
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(255, 255, 255);
}

main p{
  padding-top: 5%;
  padding-bottom: 5%;
}

.truc{
  grid-area: truc;
}

.bidule{
  grid-area: bidule; 
}

.machin{
  grid-area: machin;
  background: url("./img/road-4510033_960_720.jpg") center;
}

.dg{
  font-size: 2em;
  text-align: center; 
  margin-top: 20%;
}
.wd{
  font-size: 2em;
  text-align: center; 
  margin-top: 15%;
}

 a{
  color: black;
  text-decoration: none;
}

 a:hover {
 text-decoration: line-through;
}

