/*****
Body
*****/

@import url("fontello-codes.css");

body {
  background-image: url("");
}

/**********
Navigation
***********/

@import url("fontello-codes.css");

* {
  margin         : 0;
  padding        : 0;
  box-sizing     : border-box;
}
h1 {
  float          : left;
  position       : absolute;
  margin-bottom  : 10px;
  margin-left    : 45%;
}

#menu-bar {
  display        : none;
}

header label {
  float          : right;
  font-size      : 28px;
  margin         : 6px 0px;
  cursor         : pointer;
}

.menu {
  position       : absolute;
  top            : 50px;
  left           : 0;
  width          : 20%;
  height         : 100vh;
  background     : rgba(0, 0, 0, 0.9);
  color: rgb(255, 254, 254);
  transition     : all 0.5s;
  transform      : translateX(-100%);
}

.menu a {
  display        : block;
  color          : rgb(255, 255, 255);
  height         : 50px;
  text-decoration: none;
  padding        : 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
  transform       : translateX(0%);
}

header .contenedor {
  display         : table;
}

header {
  width           : 100%;
  height          : 50px;
  background      : rgb(0, 0, 0);
  color           : cornsilk;
  top             : 0;
  left            : 0;
}

.contenedor {
  width           : 98%;
  margin          : auto;
}

/*********
Section 1 
**********/
header {
  border          : 2px solid rgb(255, 255, 255);
  width           : 100%;
  text-align      : center;
}

body {
  background-image: url("img/bg.jpg");
}

h3 {
  margin-left     : -7px;
  font-size       : 2vh;
  writing-mode    : vertical-rl;
}

p {
  margin-left: 0;
  font-size       : 3em;
  color: white;
}

.question {
  font-size       : 2em;
  padding-top     : 25%;
}

.collapsible {
  border          : 2px solid rgb(255, 255, 255);
  width           : var(--width);
  height          : 100vh;
  float           : right;
  background-color: rgb(0, 0, 0);
  color           : rgb(255, 255, 255);
  cursor          : pointer;
  padding         : 18px;
  text-align      : left;
  outline         : none;
  font-size       : 15px;
  transition      : width 0.25s ease;
  position        : relative;
}

.collapsible_left {
  border          : 2px solid rgb(255, 255, 255);
  width           : var(--width);
  height          : 100vh;
  float           : left;
  background-color: rgb(0, 0, 0);
  color           : rgb(255, 255, 255);
  cursor          : pointer;
  padding         : 18px;
  text-align      : left;
  outline         : none;
  font-size       : 15px;
  transition      : width 0.25s ease;
  position        : relative;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}

a:hover {
  font-style: italic;
}


.content {
  width             : 80%;
  height            : 100vh;
  float             : right;
  padding           : 0 18px;
  margin-top: 20px;
}

.presentation {
  text-align: justify;
  width: 20%;
  height: auto;
  font-size: 1,5em;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: auto;
  color: white;
}

.presentation:hover {
  color: black;
}

.presentation2 {
  text-align: justify;
  width: 20%;
  height: auto;
  font-size: 1,5em;
  margin-top: 5%;
  margin-right: auto;
  margin-left: 60%;
  color: white;
}

.presentation2:hover {
  color: black;
}

progress {
  margin-top: 5%;
  width: 30%;
  height: 5%;
}


/* marquee.home {
  height: 450px;
  width: 150px;
  padding: 8px;
  background-color: white;
  color: black;
  font-size: 2em;
  
} */


/* Pour le responsive */

@media (max-width   : 850px) {
  html,
  body {
    height          : auto;
    font-size       : 1em;
  }

  p {
    font-size       : 1em;
  }

  .collapsible {
    border          : 2px solid black;
    width           : 100%;
    height          : 70px;
    background-color: rgb(255, 255, 255);
    color           : rgb(0, 0, 0);
    cursor          : pointer;
    padding         : 18px;
    text-align      : left;
    outline         : none;
  }
}

