body{
    margin: 0;
}

header{
    background-color: rgb(223, 236, 248);
    height: 76px;
}

/* ANIMATION HEADER */

#machinessensibles{
    margin-left: 10px;
}

#smiley{
    float: right;
    margin-top: -65px;
    margin-right: 10px;
}

#machinessensibles span {
    position: relative;
    display: block;
    float: left;
    margin-right: .025em;
    font-size: 2em;
  }
  
  #machines span:nth-child(1) {
    animation: upanddown 450ms infinite alternate ease-out 50ms;
  }
  
  #machines span:nth-child(2) {
    animation: upanddown 450ms infinite alternate ease-out 100ms;
  }
  
  #machines span:nth-child(3) {
    animation: upanddown 450ms infinite alternate ease-out 150ms;
  }
  
  #machines span:nth-child(4) {
    animation: upanddown 450ms infinite alternate ease-out 200ms;
  }
  
  #machines span:nth-child(5) {
    animation: upanddown 450ms infinite alternate ease-out 250ms;
  }
  
  #machines span:nth-child(6) {
    animation: upanddown 450ms infinite alternate ease-out 300ms;
  }
  
  #machines span:nth-child(7) {
    animation: upanddown 450ms infinite alternate ease-out 350ms;
  }
  
  #machines span:nth-child(8) {
    animation: upanddown 450ms infinite alternate ease-out 400ms;
  }
  
  @keyframes upanddown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }
  #sensibles span:nth-child(1) {
    animation: downandup 450ms infinite alternate ease-out 650ms;
  }
  
  #sensibles span:nth-child(2) {
    animation: downandup 450ms infinite alternate ease-out 700ms;
  }
  
  #sensibles span:nth-child(3) {
    animation: downandup 450ms infinite alternate ease-out 750ms;
  }
  
  #sensibles span:nth-child(4) {
    animation: downandup 450ms infinite alternate ease-out 800ms;
  }
  
  #sensibles span:nth-child(5) {
    animation: downandup 450ms infinite alternate ease-out 850ms;
  }
  
  #sensibles span:nth-child(6) {
    animation: downandup 450ms infinite alternate ease-out 900ms;
  }
  
  #sensibles span:nth-child(7) {
    animation: downandup 450ms infinite alternate ease-out 950ms;
  }
  
  #sensibles span:nth-child(8) {
    animation: downandup 450ms infinite alternate ease-out 1000ms;
  }
  
  #sensibles span:nth-child(9) {
    animation: downandup 450ms infinite alternate ease-out 1050ms;
  }
  
  @keyframes downandup {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  #machines {
    display: block;
  }
  #machines span:nth-child(1) {
    margin-top: 0;
  }
  #machines span:nth-child(2) {
    margin-top: -5px;
  }
  #machines span:nth-child(3) {
    margin-top: -8px;
  }
  #machines span:nth-child(4) {
    margin-top: -10px;
  }
  #machines span:nth-child(5) {
    margin-top: -10px;
  }
  #machines span:nth-child(6) {
    margin-top: -8px;
  }
  #machines span:nth-child(7) {
    margin-top: -5px;
  }
  #machines span:nth-child(8) {
    margin-top: 0;
  }
  
  #sensibles {
    clear: left;
    margin-left: 2em;
  }
  #sensibles span:nth-child(1) {
    margin-top: 0;
  }
  #sensibles span:nth-child(2) {
    margin-top: 5px;
  }
  #sensibles span:nth-child(3) {
    margin-top: 8px;
  }
  #sensibles span:nth-child(4) {
    margin-top: 10px;
  }
  #sensibles span:nth-child(5) {
    margin-top: 11px;
  }
  #sensibles span:nth-child(6) {
    margin-top: 10px;
  }
  #sensibles span:nth-child(7) {
    margin-top: 8px;
  }
  #sensibles span:nth-child(8) {
    margin-top: 5px;
  }

/* FIN ANIMATION HEADER */

section {
    width: 70%;
    margin-right: 10%;
    margin-left: 45%;
}

section > h2{
    font-size: 15px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.746);
}

h1{
    margin-left: -25%;
}

section{
    margin-top: 10%;
    margin-bottom: 10%;
}
/* TABLEAU 1 */

table{
    width: 70%;
    border: 1px rgba(0, 0, 0, 0.103) solid;
    padding: 10px;
}

tr > th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #c6f6c8;
    color: rgb(0, 0, 0);
  }

th:nth-child(1){
    background-color: transparent;
    color: rgb(0, 0, 0);
}  

tr > td:nth-child(4){
    text-align: center;
}

td:nth-child(1){
    width: 50%;
}

/* FIN TABLEAU 1 */
/* TABLEAU 3 */

#langages > th {
        background-color: transparent;
        color: rgb(0, 0, 0);
        width: 20%;
}

/* PROJET PRO */

p{
    width: 40%;
    text-align: left;
    font-size: 15px;
}

a{
    font-style: italic;
    color: rgba(0, 0, 0, 0.582);
    font-size: 13px;
}

a:hover{
    color: black;
}

/* STAGE */

table:nth-child(4)
#stage{
    width: 80%;
    padding: 10px;
}

#stage > th {
    width: 400px;
}

#stage > th:nth-child(1) {
width: 20%;
}

#stage > td{
    width: 50%;
}

#stage > td:nth-child(1){
    width: 10%;
}